@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root {
    --bs-body-font-family: 'Ubuntu', sans-serif;
    --bs-body-color: #363062;
    --bs-body-bg: #EBE8FC;
    --bs-dropdown-link-color: #EBE8FC;
    --bs-link-hover-color: #363062;
};