// This file holds all my custom variables.

// $danger: #cfc61c;
$cLight: #E9D5DA;
$cLightish: #827397;
$cDarkish: #4D4C7D;
$cDark: #363062;
$component-active-color: #fff;
$component-active-bg: $cDarkish; // Outline color
$list-group-color: #363062;
$primary: $cDark;